<div id="page-wrapper">
  <div class="row">
    <div class="col-lg-12">
      <div class="col-lg-6">
        <h1 class="page-header">Groups</h1>
      </div>
      <div class="col-lg-6 page-header">
        <%= link_to "New Group", new_group_path, class: 'btn btn-primary pull-right', style: 'display: inline-block;'%>
      <div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <div class="panel panel-default">
        <div class="panel-heading">
          List Member Gropus
        </div>
        <div class="panel-body">
          <table width="100%" class="table table-striped table-bordered table-hover" id="dataTables-example">
            <thead>
              <tr>
                <th>Group Name</th>
                <th>Member Available</th>
                <!-- <th>Platform(s)</th>
                <th>Engine version</th>
                <th>CSS grade</th> -->
              </tr>
            </thead>
            <tbody>
              <tr class="gradeA">
                <% @groups.each do |group| %>
                  <td><%= group.name %></td>
                  <td><%= group.members.count %></td>
                  <!-- <td></td>
                  <td></td> -->
                <% end %>
              </tr>
            </tbody>
          </table>  
        </div>
      </div>  
    </div>
  </div>
</div>