<table>
	<tr>
		<td>Please click the below link to subscribe </td>
		<td> <a href="http://localhost:3000/campaign_reports/<%= @campaign_report.secure_token %>">accept_subscription</a></td>
	</tr>
</table>