

<%#= link_to 'Show', @group %> |
<%#= link_to 'Back', groups_path %>
<div class="admin-main-con">
  <div class='col-sm-12'>
    <h2>Edit Group</h2>
    <div class="admin_content_body">
      <%= render partial: 'form' %>
    </div>
  </div>
</div>