<html lang="en">
  <head>
    <title>Thank You</title>
    <meta charset="utf-8"></meta>
    <style type="text/css">
      body{
          margin: 0;
          padding: 0;
          font-family: 'Open Sans', sans-serif, 'Helvetica Neue', Helvetica, Roboto, Arial;
          font-size: 14px;
      }
      .main-container{
          width: 100%;
          max-width: 900px;
          margin: 0 auto;
      }
      .header{
          background: #000;
      }
      .logo{
          height: 50px;
          margin: 10px;
      }
      .content_container{
          padding: 0 10px;
          border: 1px solid #ccc;
          background: #fff;
      }
      .content_container ol{
          padding-left: 23px;
      }
      .content_container ol li{
          margin: 5px 0;
      }
      .custom-table{
          min-width: 500px;
          border-collapse: collapse;
          margin: 8px 0 15px 0;
      }
      .custom-table tr th{
          background-color: #ba9753;
          padding: 8px;
          border: 1px solid #ffffff;
          font-weight: normal;
          font-size: 14px;
      }
      .custom-table tr td{
          background-color: #f1f1f1;
          padding: 8px;
          border: 1px solid #ffffff;
          font-weight: normal;
          font-size: 14px;
      }
      .unclick_btn{
          background-color: #cccccc;
          padding: 10px;
          color: #ffffff;
          font-size: 14px;
          text-align: center;
          width: 150px;
          border-radius: 5px;
          display: inline-block;
          text-decoration: none;
      }
      .click_btn{
          background-color: #ba9753;
          padding: 10px;
          font-size: 14px;
          color: #ffffff;
          text-align: center;
          width: 150px;
          border-radius: 5px;
          display: inline-block;
          text-decoration: none;
          border: none;
      }
      .main_star_con{
        width: 100%;
        border: 1px solid #f2f2f2;
        border-radius: 5px;
        padding: 10px 0;
        margin: 10px 0; 
      }
      .main_star_con .txt-label{
        font-size: 14px;
        color: #000;
        margin: 10px 0px;
      }
      .main_star_con .feedback_icon{
        display: inline-block;
        position: relative;
      }
      .main_star_con .feedback_icon .source_icon{
        width: 20px;
        position: absolute;
        height: 20px;
        opacity: 0;
      }
      .main_star_con .feedback_icon .img_icon{
        display: inline-block;
        width: 20px;
        height: 20px;
        background-repeat: no-repeat;
      }
      .main_star_con .feedback_icon .fb_unselect{
        background-image: url(http://d3tfanr7troppj.cloudfront.net/static_files/images/000/002/271/original/facebook_iocn_grey.png?1507114755);
      }
      .main_star_con .feedback_icon .fb_select{
        background-image: url(http://d3tfanr7troppj.cloudfront.net/static_files/images/000/002/263/original/facebook_iocn.png?1507101391);
      }
      .main_star_con .feedback_icon .www_unselect{
        background-image: url(http://d3tfanr7troppj.cloudfront.net/static_files/images/000/002/274/original/www_iocn_grey.png?1507115113);
      }
      .main_star_con .feedback_icon .www_select{
        background-image: url(http://d3tfanr7troppj.cloudfront.net/static_files/images/000/002/270/original/www_iocn.png?1507101464);
      }
      .main_star_con .feedback_icon .oth_unselect{
        background-image: url(http://d3tfanr7troppj.cloudfront.net/static_files/images/000/002/272/original/listen_icon_grey.png?1507115082);
      }
      .main_star_con .feedback_icon .oth_select{
        background-image: url(http://d3tfanr7troppj.cloudfront.net/static_files/images/000/002/265/original/listen_icon.png?1507101412);
      }
      .main_star_con .feedback_icon .ques_unselect{
        background-image: url(http://d3tfanr7troppj.cloudfront.net/static_files/images/000/002/273/original/question_iocn_grey.png?1507115097);
      }
      .main_star_con .feedback_icon .ques_select{
        background-image: url(http://d3tfanr7troppj.cloudfront.net/static_files/images/000/002/266/original/question_iocn.png?1507101421);
      }
      .feedback_background{
        background-image: url(http://d3tfanr7troppj.cloudfront.net/static_files/images/000/002/280/original/home_blur2.jpg?1507187319);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        height: 100vh;
        position: relative;
      }
      .feedback_background .feedback_center{
        padding: 15px;
        position: absolute;
        max-width: 1000px;
        width: 100%;
        color: #ffffff;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
      .feedback_background .feedback_center p{
        margin: 0;
        line-height: 15px;
      }
      .feedback_background .feedback_center a{
        color: #ffffff;
        text-decoration: none;
      }
      .feedback_background .feedback_center .feeback_text{
        font-size: 32px;
        line-height: 30px;
        margin-bottom: 100px;
      }
    </style>
    <script type="text/javascript" src="/jquery.rateyo.js"></script>

  </head>
  <body>
      <div class="feedback_background">
        <div class="feedback_center">
          <p class="feeback_text text-center">Thank You for your time.</p>
          <div class="row">
            <div class="col-sm-6 col-xs-12 text-center">
             
            </div>
            <div class="col-sm-6 col-xs-12 text-center">
              
            </div>
          </div>
        </div>
      </div>
  </body>
</html>